In [22]:
import pandas as pd
flights_df = pd.read_csv('./flightlist_20200301_20200331.csv')
flights_df.dropna(inplace=True)
flights_df = flights_df[(flights_df['origin'] != flights_df['destination'])]
flights_df.head(10)

   callsign  number  icao24  ... latitude_2 longitude_2 altitude_2
2    LAN602   LA602  e80444  ...  33.947195 -118.431358      22.86
3    MAU440   MK440  060025  ... -31.941330  115.964758       0.00
8    CSN461   CZ461  780daa  ...  50.036087    8.569842     182.88
18   CMP472   CM472  0c208d  ...  33.937652 -118.380318      38.10
20   AIC184   AI184  8004da  ...  28.544389   77.078732     205.74
35   ETD455   EY455  896439  ...  24.401825   54.695180     220.98
53    MAU14    MK14  06002f  ...  48.993839    2.582861     205.74
55  IBE6171  IB6171  34510a  ...  33.951874 -118.404759       7.62
59   CPA846   CX846  780a8b  ...  40.630979  -73.731121     144.78
64   UAE441   EK441  896174  ...  25.261002   55.344755      22.86

[10 rows x 16 columns]

In [15]:

airports_df = pd.read_csv('./airports.csv')
airports_df.head()

   Airport_Id  ...  Unnamed: 13
0           1  ...  OurAirports
1           2  ...  OurAirports
2           3  ...  OurAirports
3           4  ...  OurAirports
4           5  ...  OurAirports

[5 rows x 14 columns]

In [18]:
airports_df[(airports_df['ICAO'] == 'YSSY')].head()

      Airport_Id  ...  Unnamed: 13
3167        3361  ...  OurAirports

[1 rows x 14 columns]